a,abbr,acronym,address,applet,article,aside,audio,big,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body{background: #fff;  padding: 0; margin: 0;
    font: 16px/24px "Proxima Nova", sans-serif; color: #28363d;}
.wrap{
	padding-top: 80px;
}
.aqua{
	color: #1ed6cb;
}
h3{
	margin: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header{
	background: #28363d;
	    width: 100%;
    position: fixed;
    z-index: 3;

	&__logo {
   float: left;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    float: left;
    height: 80px;
    a{
    	padding: 23px 0;
    	border-bottom: 4px solid #28363d;
    	&:hover{
			background: #1e292f;
			color: #fff;
			border-bottom: 4px solid #1ed6cb;
			text-decoration: none;
		}
    }
}
&__pic{
	margin-right: 5px;
}
&__inner{
	    max-width: 1170px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
&__nav{
	padding-left: 60px;
}
	
	ul{
    list-style: none;
    display: inline;
    padding: 0;
}
li {
    display: inline;
    a{
		color: #6b848c;
		padding: 31px 17px 28px 16px;
		font: 14px/24px "Proxima Nova", sans-serif;
		text-transform: uppercase;
		font-weight: normal;
		&:hover{
			background: #1e292f;
			color: #fff;
			border-bottom: 4px solid #1ed6cb;
			text-decoration: none;
		}

	}
}
&__button{
	width: 196px;
	float: right;
}
&__btn{
	background-color: #28363d;
	color: #fff;
	padding: 14px 31px;
	height: 36px;
	line-height: 6px;
	border-color: #1ed6cb;
	border-radius: 7px;
	text-transform: uppercase;
	font-size: 14px;
	margin-right: 26px;
}
&__search{
	background: url(../images/search.png) no-repeat;
	border: none;
	height: 21px;
	width: 20px;
	vertical-align: middle;
	margin-right: 34px;
}
&__text{
	  width: 25px;
    height: 25px;
        border: none;
    background: #28363d;
    color: #fff;
 
}
&__form{
display: inline;
}

}

.post-header{
	background: url(../images/curves-menu1.png) -300px no-repeat;
	 max-width: 100%;
    min-height: 1080px;
    background-size: cover;
    &__inner{
    	position: relative;
    	max-width: 960px;
    }
    &__content{
    	    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    h1{
    	margin: 0;
    }
		    &-slogan{
		    	margin-top: 400px;
		    	text-align: center;
		    	&--heading{
		    	font: 30px/41px "Proxima Nova", sans-serif;
		    	text-transform: uppercase;
		    	font-weight: bold;
		    	color: #28363d;
		    	
		    	}
		    	&--reg{
		    		text-transform: uppercase;
		    		color: #8198a0;
		    		font: 20px/41px "Proxima Nova", sans-serif;

		    	}
		    }
    }
    &__arrow-down{
    	margin-top: 465px;
    text-align: center;
    &--bfr{
    	   &:before{
    	background: url(../images/iconarrow.png) no-repeat;
    	    position: absolute;
		    content: "";
		    width: 55px;
		    height: 55px;
		    left: 453px;
    }
    }

 
    }
  }
  .main__wel{
  	background: #fff;
  	max-width: 100%;
  			&__inner{
  	max-width: 1170px;
  	}
  
		&__title{
			text-align: center;
			margin-bottom: 40px;
			h3{
				text-transform: uppercase;
				color: #28363d;
				font: 24px/24px "Proxima Nova", sans-serif;
				font-weight: bold;
				letter-spacing: 5px;
				 margin: 20px 0 48px;
				 position: relative;
				&:after{
					content: "";
				    background: url(../images/separator.png);
				    width: 33px;
				    height: 6px;
				    position: absolute;
				    left: 576px;
					 top: 52px;
				}
			}
			p{
				font: 18px/44px "Proxima Nova", sans-serif;
				color: #8198a0;


			}
		}
  
  }

  .services{
  	background: url(../images/effect.png);
  	max-width: 100%;
  	
  	&__wrapp{
  		padding: 130px 0;
  		background-color: rgba(255,255,255,0.8);
  	}

 &__bottom{
 	background: url(../images/effect.png);
 	position: relative;
 	padding-top: 130px;

 	&__inner{
 		max-width: 1170px;
 	}
 	&__title{
 		text-align: center;
 		h3{
 			font: 24px/24px "Proxima Nova", sans-serif;
 			color: #28363d;
 			font-weight: bold;
 			text-transform: uppercase;
 			margin: 20px 0 48px;
 			position: relative;
 			letter-spacing: 5px;
 			
 			
 				&:after{
					content: "";
				    background: url(../images/separator.png);
				    width: 33px;
				    height: 6px;
				    position: absolute;
				    left: 573px;
    				top: 52px;
				}
 		}
 		p{
 			font: 18px/44px "Proxima Nova", sans-serif;
 			color: #8198a0;
 			margin-top: 15px;
 		}
 	}

 }
 &__block{
 	display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
   

     &__elem{
     	width: 25%;
     	text-align: center;
 	
 	    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: 25%;
    -moz-box-flex: 0;
    -ms-flex: 25%;
    flex: 25%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
padding: 50px 0;
&:hover{
	    -moz-box-shadow: 0px 0px 10px #1ed6cb;
    -webkit-box-shadow: 0px 0px 10px #1ed6cb;
    box-shadow: 0px 0px 10px #1ed6cb; 
    transition: 0.3s
}
&:hover{
	i.fa{
		color: #28363d;
		 transition: 0.3s
	}
}
     i.fa{
 	font-size: 34px;
 	color: #1ed6cb;
 	    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;

 }
 &-top--heading{
 	font: 16px "Proxima Nova", sans-serif;
 	text-transform: uppercase;
 	font-weight: bold;

 }
p{
	margin: 0;
	font: 18px/30px "Proxima Nova", sans-serif;
	color: #8198a0;
}

 }

 }
  }
.quality{
	background: #28363d;
	padding: 60px 0;
	border-bottom: 2px solid #1ed6cb;
	border-top: 2px solid #1ed6cb;
	&__inner{
		max-width: 1170px;
	}
	&__block{
		text-align: center;
		h3{
			font: 28px/44px "Proxima Nova", sans-serif;
			color: #fff;
		}
		a{
			font: 14px/44px "Proxima Nova Semibold", sans-serif;
			color: #28363d;
			text-transform: uppercase;
			padding: 16px 50px;
			line-height: 52px;
			background: #fff;
			border-radius: 10px;
			text-decoration: none;
			.fa{
				padding-left: 25px;
				color: #1ed6cb;
				font-size: 16px;
				font-weight: bold;
			}
			&:hover{
				background: #1ed6cb;
				color: #fff;
			}
			&:hover .fa{
				color: #fff;
			}
		}
	}
}

.project{
	max-width: 100%;

	&__inner{
		max-width: 1170px;
	}
	&__content{
	        display: -webkit-flex;
	    display: flex;
	    -webkit-flex-flow: row wrap;
	    flex-flow: row wrap;

&-item-flex{
        display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: center;
    align-content: center;

}

		&-item-flex:first-child{
			background-image: url(../images/profile-photo-1.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
		&-item-flex:last-child{
			background-image: url(../images/profile-photo-2.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
		
		&-icon,&-phg,&-button{
					-webkit-flex-basis: 80%;
				    flex-basis: 80%;
		}
		&-icon{
			display: flex;
			display: -webkit-flex;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			justify-content: space-between;
			-webkit-justify-content: space-between;


    
		}
		.icon-item{
			-webkit-flex: 50%;
		    flex: 50%;
		    display: -webkit-flex;
		    display: flex;
		    -webkit-align-items: center;
		    align-items: center;
			h3{
				display: inline-block;
				font: 16px "Proxima Nova Semibold", sans-serif;
				text-transform: uppercase;
				color: #28363d;
				padding: 20px;
			}
				i.fa{
					font-size: 50px;
					color: #1ed6cb;
				}
		}

		
		img{
			width: 100%;
		}
		&-button{
			a{
				font: 14px/44px "Proxima Nova Semibold", sans-serif;
			color: #fff;
			text-transform: uppercase;
			padding: 16px 30px;
			line-height: 52px;
			background: #1ed6cb;
			border-radius: 8px;
			text-decoration: none;
			.fa{
				padding-left: 25px;
				color: #fff;
				font-size: 16px;
				font-weight: bold;
			}
			&:hover{
				background: rgb(6,196,188);
				color: #fff;
			}
			&:hover .fa{
				color: #fff;
			}
			}
		}
	}
}

.latest{
	width: 100%;
	padding: 125px 0 90px;
	&__inner{
		max-width: 1170px;
	}
	.section-header{
		text-align: center;
		h3{
 			font: 24px/24px "Proxima Nova", sans-serif;
 			color: #28363d;
 			font-weight: bold;
 			text-transform: uppercase;
 			margin: 20px 0 48px;
 			position: relative;
 			letter-spacing: 5px;
 			
 			
 				&:after{
					content: "";
				    background: url(../images/separator.png);
				    width: 33px;
				    height: 6px;
				    position: absolute;
				    left: 573px;
    				top: 52px;
				}
 		}
 		p{
 			font: 18px/44px "Proxima Nova", sans-serif;
 			color: #8198a0;
 			margin-top: 15px;
 		}
	}
	.latest-main{
		display: -webkit-flex;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex: 0 50%;
  
	}
	&__row{
		    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    &-item{
   padding: 5px 10px;
    
    img{
    	width: 100%;
    }
    &:hover .hover__wrapp{
    	opacity: 0.9;
    	padding: 3%;
		   }
    .hover__wrapp{
	position: absolute;
    width: 94%;
    height: 88%;
    background-color: #fff;
    top: 5%;
    left: 3%;
     opacity: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
		&-desc{
			width: 100%;
			height: 100%;
			border: solid 2px #1ed6cb;
			display: -webkit-flex;
		    display: flex;
		    -webkit-flex-wrap: wrap;
		    flex-wrap: wrap;
		    -webkit-flex-direction: column;
		    flex-direction: column;
		    -webkit-align-items: center;
		    align-items: center;
		    -webkit-justify-content: center;
		    justify-content: center;
		}
    }

    .sep-img{
    	width: 31px;
    	height: 6px;

    }
    .date-p{
width: 108px;
height: 15px;
color: #28363d;
font-family: "Proxima Nova";
font-size: 16px;
font-weight: 600;
line-height: 36px;

                }
    
        }

	}
}
.checkout{
	width: 100%;
	height: 100px;
	background-color: #1ed6cb;
	&__inner{
		max-width: 1170px;
		height: 100px;
		    
	}
	&__flex-item{
		height: 100px;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	    -webkit-justify-content: space-between;
	    justify-content: space-between;
	    -webkit-align-items: baseline;
	    align-items: baseline;
	    -webkit-align-content: stretch;
	    align-content: stretch;
	}
	&__desc{
		width: 40%;
	 display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
  

    h2{
	
		color: #fff;
		font-family: "Proxima Nova";
		font-size: 16px;
		font-weight: 700;
		line-height: 44px;
		text-transform: uppercase;

    }
    i.fa{
    	    margin-top: 3px;
			font-size: 33px;
    }
	}
	&__btn{
		width: 48%;
	 display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
  
        margin-top: 30px;
    &-sub{
			a{
				color: #fefefe;
			    text-transform: uppercase;
			   padding: 10px 80px;
			    line-height: 52px;
			    text-decoration: none;
			    border-radius: 10px;
			border: 3px solid #fff;
			}
		 }
		 &-get{
			a{
			padding: 15px 40px;
			color: #28363d;
			font-family: "Proxima Nova";
			font-size: 14px;
			font-weight: 600;
			line-height: 44px;
			text-transform: uppercase;
			text-decoration: none;
			border-radius: 10px;
			background-color: #fff;
			    i.fa {
    				padding-left: 40px;
    				color: #3ddcd2;
    				font-size: 20px;
						}
			}
		 }
	}
}
.likebox{
	width: 100%;
	background: #28363d;
	color: #fff;
	height: 215px;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    align-items: stretch;
	&__inner{
		max-width: 1170px;
        min-width: 1150px;
		display: -webkit-flex;
	    display: flex;
	    -webkit-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	    -webkit-justify-content: flex-start;
	    justify-content: flex-start;
	    -webkit-align-items: stretch;
	    align-items: stretch;
	}
	&__flex{
		display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    align-items: stretch;
    width: 100%;



    &-item{
    	width: 35%;
        display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    &--i{
    	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
      h4{
color: #feffff;
font-family: "Proxima Nova";
font-size: 30px;
font-weight: 700;
line-height: 34px;
text-transform: uppercase;
  
    }
    i.fa-user-o{
    	font-size: 24px;
		color: #1ed6cb;
		flex: 0 0 12%;
    }
      i.fa-heart-o{
    	font-size: 24px;
		color: #1ed6cb;
		flex: 0 0 14%;
    }
      i.fa-money{
    	font-size: 24px;
		color: #1ed6cb;
		flex: 0 0 15%;
    }
    span{
	flex: 0 0 67%;
    text-align: center;
	width: 183px;
	height: 11px;
	color: #8198a0;
	font-family: "Proxima Nova";
	font-size: 14px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	letter-spacing: 2px;
            }
        }
 }
     .bg{
    	background: #1e292f;
    }

	}
}














.checkout__btn-get{
	    -webkit-flex-basis: 40%;
    flex-basis: 40%;
}



.project__content,.project__content-item-flex{
		    min-height: 370px;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
}

.header__inner,.post-header,
.post-header__inner,
.main__wel__inner,
.services,
.services__inner,
.services__top,
.services__top__inner,
.services__bottom__inner,
.quality,
.quality__inner,
.project,
.project__inner,
.latest,
.latest__inner,
.checkout,
.checkout__inner,
.likebox,
.likebox__inner{
 	  margin-right: auto;
    	margin-left: auto;
 }

